name: CI MLflow with Docker and LFS

on:
  push:
    branches: [master]

permissions:
  contents: write

jobs:
  mlflow-docker-lfs:
    runs-on: ubuntu-latest
    environment: github-actions

    steps:
      - name: Set up job
        run: echo "Starting MLflow CI/CD job"

      - name: Run actions/checkout@v3
        uses: actions/checkout@v3
        with:
          lfs: true

      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: 3.12.7

      - name: Install Conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install mlflow scikit-learn pandas numpy dagshub docker

      - name: Run MLflow project
        id: run_ml
        working-directory: MLProject
        run: |
          mlflow run . --env-manager=local

      - name: Get latest MLflow run_id
        run: |
          LATEST_EXPERIMENT=$(ls -1t mlruns | head -n 1)

          LATEST_RUN_ID=$(ls -1td mlruns/$EXPERIMENT_ID/* | head -n 1 | xargs -n 1 basename)

          echo "Latest run ID: $LATEST_RUN"
          echo "RUN_ID=$LATEST_RUN" >> $GITHUB_ENV

      - name: Upload MLflow artifacts to LFS
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git lfs install
          git lfs track "mlruns/**"
          git add .gitattributes
          git commit -m "Track large files in mlruns with Git LFS" || true
          git push origin master

      - name: Build Docker Model
        run: |
          mlflow models build-docker \
            --model-uri "runs:/$RUN_ID/model" \
            --name "unsw-nb15-model"

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Tag Docker Image
        run: |
          docker tag unsw-nb15-model maanpy/smsml_muhammad-luqmaan:tagname

      # 13. Push Docker Image
      - name: Push Docker Image
        run: |
          docker push maanpy/smsml_muhammad-luqmaan:tagname

      # 17. Complete job
      - name: Complete job
        run: echo "MLflow CI/CD job finished successfully"
