name: MLflow CI Retraining

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true
        activate-environment: mlflow-env
        environment-file: MLProject/conda.yaml
        python-version: 3.12.7

    - name: Run MLflow Project
      run: |
        mlflow run MLProject

    - name: Build Docker Image
      run: |
        mlflow models build-docker \
          -m runs:/$(mlflow runs list -E CI-Retraining -o json | jq -r '.[0].run_id')/model \
          -n ${{ secrets.DOCKERHUB_USERNAME }}/mlflow-intrusion

    - name: Push Docker Image
      run: |
        echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/mlflow-intrusion
