name: MLflow CI Pipeline

on:
  push:
    branches: [master]
  workflow_dispatch:

env:
  DAGSHUB_USERNAME: Maan-py
  DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}

permissions:
  contents: write

jobs:
  train-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        lfs: true

    - name: Set up Python 3.12.7
      uses: actions/setup-python@v5
      with:
        python-version: "3.12.7"

    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y git-lfs
        git lfs install

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow scikit-learn pandas numpy dagshub

    - name: Run MLflow Project (Training)
      run: |
        cd MLProject
        mlflow run . --env-manager=local

    - name: Track mlruns with Git LFS
      run: |
        git lfs track "mlruns/**"
        git add .gitattributes mlruns
        git commit -m "Track MLflow artifacts with Git LFS" || echo "Nothing to commit"
        git push

    - name: Get latest MLflow run_id
      run: |
        RUN_ID=$(ls -td mlruns/0/*/ | head -n 1 | cut -d'/' -f3)
        echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
        echo "Latest run_id: $RUN_ID"

    - name: Build Docker image from MLflow model
      run: |
        mlflow models build-docker \
          --model-uri runs:/$RUN_ID/model \
          --name unsw-nb15-model

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Tag & Push Docker Image
      run: |
        docker tag unsw-nb15-model ${{ secrets.DOCKER_HUB_USERNAME }}/unsw-nb15-model:latest
        docker push ${{ secrets.DOCKER_HUB_USERNAME }}/unsw-nb15-model:latest
