name: MLflow CI/CD Pipeline

on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: write

jobs:
  train-and-deploy:
    runs-on: ubuntu-latest
    environment: github-actions

    steps:
      # Checkout repository
      - name: Run actions/checkout@v3
        uses: actions/checkout@v3

      # Setup Python
      - name: Set up Python 3.12.7
        uses: actions/setup-python@v5
        with:
          python-version: "3.12.7"

      # Check Environment Variables
      - name: Check Env
        run: |
          echo "CSV_PATH=$CSV_PATH"
          echo "TARGET_VAR=$TARGET_VAR"

      # Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow scikit-learn pandas numpy dagshub

      # Run MLflow Project
      - name: Run mlflow project
        run: |
          mlflow run MLProject --env-manager=local

      # Get latest MLflow run_id
      - name: Get latest MLflow run_id
        run: |
          RUN_ID=$(ls -td mlruns/0/*/ | head -n 1 | cut -d'/' -f3)
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
          echo "Latest run_id: $RUN_ID"

      - name: Track mlruns with Git LFS
        run: |
          git lfs track "mlruns/**"
          git add .gitattributes mlruns
          git commit -m "Track MLflow artifacts with Git LFS" || echo "Nothing to commit"
          git push

      # Build Docker Model
      - name: Build Docker Model
        run: |
          RUN_ID=$(ls mlruns/0 | head -n 1)
          mlflow models build-docker \
            --model-uri "mlruns/0/$RUN_ID/artifacts/model" \
            --name "unsw-nb15-model"

      # Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      # Tag Docker Image
      - name: Tag Docker Image
        run: |
          docker tag unsw-nb15-model ${{ secrets.DOCKER_HUB_USERNAME }}/unsw-nb15-model:latest

      # Push Docker Image
      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/unsw-nb15-model:latest
